[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "powerlevel9k"]
	path = oh-my-zsh-custom/themes/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh-custom/plugins/fzf"]
	path = oh-my-zsh-custom/plugins/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "oh-my-zsh-custom/plugins/zsh-completions"]
	path = oh-my-zsh-custom/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
