[user]
        name = Emil Marklund
        email = emil@localhost
        signingkey = 2B3D4AD8
[credential]
        helper = cache --timeout=7200
[github]
        user = Eeemil
[core]
        editor = emacsclient
	excludesfile = ~/.gitignore-global
[clean]
        requireForce = true
[alias]
        s = status
        c = commit
        d = diff
        l = log
        a = add
        co = checkout
        recent = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[push]
        default = simple
	autosetupremote = true
[init]
        defaultBranch = main
